# Resources required by the sample browser and most samples.
[Essential]
FileSystem=ogre-resources/materials
FileSystem=ogre-resources/meshes
FileSystem=ogre-resources/textures
FileSystem=ogre-resources/textures/skyboxes/2moons
FileSystem=ogre-resources/textures/skyboxes/meadow
FileSystem=ogre-resources/textures/skyboxes/space1
FileSystem=ogre-resources/textures/skyboxes/purple_nebula
FileSystem=ogre-resources/textures/skyboxes/purple_nebula2

#Zip=/usr/share/OGRE-1.7.4/media/packs/SdkTrays.zip
#FileSystem=/usr/share/OGRE-1.7.4/media/thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
FileSystem=/usr/share/OGRE-1.7.4/media/fonts
FileSystem=/usr/share/OGRE-1.7.4/media/materials/programs
FileSystem=/usr/share/OGRE-1.7.4/media/materials/scripts
FileSystem=/usr/share/OGRE-1.7.4/media/materials/textures
FileSystem=/usr/share/OGRE-1.7.4/media/materials/textures/nvidia
FileSystem=/usr/share/OGRE-1.7.4/media/models
FileSystem=/usr/share/OGRE-1.7.4/media/particle
FileSystem=/usr/share/OGRE-1.7.4/media/DeferredShadingMedia
FileSystem=/usr/share/OGRE-1.7.4/media/PCZAppMedia
FileSystem=/usr/share/OGRE-1.7.4/media/RTShaderLib
FileSystem=/usr/share/OGRE-1.7.4/media/RTShaderLib/materials
Zip=/usr/share/OGRE-1.7.4/media/packs/cubemap.zip
Zip=/usr/share/OGRE-1.7.4/media/packs/cubemapsJS.zip
Zip=/usr/share/OGRE-1.7.4/media/packs/dragon.zip
Zip=/usr/share/OGRE-1.7.4/media/packs/fresneldemo.zip
Zip=/usr/share/OGRE-1.7.4/media/packs/ogretestmap.zip
Zip=/usr/share/OGRE-1.7.4/media/packs/ogredance.zip
Zip=/usr/share/OGRE-1.7.4/media/packs/Sinbad.zip


# Skybox textures:
Zip=/usr/share/OGRE-1.7.4/media/packs/skybox.zip

[General]
FileSystem=/usr/share/OGRE-1.7.4/media


